{% extends 'layouts/base.html' %} {% block content %}

<h1>About</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam impedit
  pariatur mollitia iure vero aliquam distinctio illum molestias culpa maxime
  quos, officia sapiente, ipsam id quidem! Ipsam, ipsa officiis totam, tempora
  sit corporis numquam vitae aspernatur fugit quis beatae iusto sed. Repellat
  blanditiis, laborum consequuntur ex minima voluptatem fugiat sint perferendis
  possimus, quia ipsum dicta vel ab dolore repudiandae eveniet eum odio, eaque
  inventore ipsam voluptates? Et, tenetur molestias, ducimus ut at nulla
  possimus vel praesentium ullam, commodi aliquid corporis odio ea itaque
  maiores repudiandae? Amet laboriosam consectetur reprehenderit placeat omnis
  neque praesentium. Sit vitae corporis provident quis, neque culpa.
</p>

<p>Website created by {{username}}</p>

{% endblock %}
